[Desktop Entry]
Version=1.0
Name=Helium
Comment=Private, fast, and honest web browser
Exec=flatpak run com.github.ShyVortex.Helium %u
Icon=com.github.ShyVortex.Helium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=flatpak run com.github.ShyVortex.Helium --new-window

[Desktop Action new-private-window]
Name=New Private Window
Exec=flatpak run com.github.ShyVortex.Helium --incognito
