input {
    keyboard {
        xkb {
            layout "de_custom(swap_ssharp_question)"
        }
        numlock
    }
    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
        accel-speed 0.3
    }
    mouse {
        accel-speed 0.4
    }
    trackpoint
    touch {
        map-to-output "eDP-1"
    }
    tablet {
        map-to-output "eDP-1"
    }
    focus-follows-mouse max-scroll-amount="0%"
}

output "DP-1" {
    position x=0 y=-1050
}

output "eDP-1" {
    position x=0 y=0
}
