[Unit]
Description=GNOME Remote Desktop
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sh -c 'grdctl rdp enable || true'
ExecStart=/usr/libexec/gnome-remote-desktop-daemon --headless
Restart=on-failure

[Install]
WantedBy=default.target
