[Unit]
Description=Tailscale Systray Icon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/tailscale systray
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
