[Unit]
Description=Universal Blue Update User Oneshot Service
Documentation=https://github.com/ublue-os/uupd
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/uupd
StandardOutput=journal
