/* Allow members of the wheel group to manage scx schedulers without password */
polkit.addRule(function(action, subject) {
    if ((action.id == "org.cachyos.scx.manager" || 
         action.id == "org.freedesktop.policykit.exec" && 
         action.details.program == "/usr/bin/scx_loader") &&
        subject.isInGroup("wheel")) {
        return polkit.Result.AUTH_ADMIN_KEEP;
    }
});
